<div class="main">
  <div class="container">
    <div class="logo-container">
      <img src="../assets/logo.svg" alt="logo" class="logo" />
    </div>
    <div class="tip-container">
      <div class="bill-container">
        <div class="label-container">
          <label for="bill" class="billLabel"> Bill </label>
          <span *ngIf="warnBill" class="warning-label">Can't be zero</span>
        </div>

        <div class="billInputContainer">
          <img src="../assets/icon-dollar.svg" class="dollar" />
          <input
            type="number"
            id="bill"
            [ngStyle]="{ color: billStyle ? 'hsl(183, 100%, 15%)' : '' }"
            [(ngModel)]="bill"
            class="billInput"
            [ngClass]="warnBill ? 'warning' : ''"
            (ngModelChange)="onInputChange($event)"
            (click)="handleInputClick()"
            (blur)="handleInputBlur()"
          />
        </div>
        <div class="selectTipPerc">
          <span class="billLabel">Select Tip %</span>
          <ng-container *ngIf="!mobileView"
            ><div class="tip">
              <button
                [ngClass]="
                  tipPercentageClick['five'] ? 'selectedTip' : 'unselectedTip'
                "
                (click)="onClickTip($event)"
                id="five"
                class="non-custom-tip"
              >
                5%
              </button>
              <button
                [ngClass]="
                  tipPercentageClick['ten'] ? 'selectedTip' : 'unselectedTip'
                "
                (click)="onClickTip($event)"
                id="ten"
                class="non-custom-tip"
              >
                10%
              </button>
              <button
                [ngClass]="
                  tipPercentageClick['fifteen']
                    ? 'selectedTip'
                    : 'unselectedTip'
                "
                (click)="onClickTip($event)"
                id="fifteen"
                class="non-custom-tip"
              >
                15%
              </button>
            </div>
            <div class="tip">
              <button
                [ngClass]="
                  tipPercentageClick['twentyfive']
                    ? 'selectedTip'
                    : 'unselectedTip'
                "
                (click)="onClickTip($event)"
                id="twentyfive"
                class="non-custom-tip"
              >
                25%
              </button>
              <button
                [ngClass]="
                  tipPercentageClick['fifty'] ? 'selectedTip' : 'unselectedTip'
                "
                (click)="onClickTip($event)"
                id="fifty"
                class="non-custom-tip"
              >
                50%
              </button>
              <input
                (click)="onClickTip($event)"
                id="custom"
                type="number"
                [(ngModel)]="custom"
                class="custom-tip"
                (ngModelChange)="onCustomTipChange($event)"
                placeholder="Custom"
              /></div
          ></ng-container>
          <ng-container *ngIf="mobileView"
            ><div class="tip">
              <button
                [ngClass]="tipPercentageClick['five'] ? 'selectedTip' : ''"
                (click)="onClickTip($event)"
                id="five"
                class="non-custom-tip"
              >
                5%
              </button>
              <button
                [ngClass]="tipPercentageClick['ten'] ? 'selectedTip' : ''"
                (click)="onClickTip($event)"
                id="ten"
                class="non-custom-tip"
              >
                10%
              </button>
            </div>
            <div class="tip">
              <button
                [ngClass]="tipPercentageClick['fifteen'] ? 'selectedTip' : ''"
                (click)="onClickTip($event)"
                id="fifteen"
                class="non-custom-tip"
              >
                15%
              </button>
              <button
                [ngClass]="
                  tipPercentageClick['twentyfive'] ? 'selectedTip' : ''
                "
                (click)="onClickTip($event)"
                id="twentyfive"
                class="non-custom-tip"
              >
                25%
              </button>
            </div>
            <div class="tip">
              <button
                [ngClass]="tipPercentageClick['fifty'] ? 'selectedTip' : ''"
                (click)="onClickTip($event)"
                id="fifty"
                class="non-custom-tip"
              >
                50%
              </button>
              <input
                (click)="onClickTip($event)"
                id="custom"
                type="number"
                [(ngModel)]="custom"
                class="custom-tip"
                (ngModelChange)="onCustomTipChange($event)"
                placeholder="Custom"
              /></div
          ></ng-container>
        </div>
        <div class="numberOfPeople">
          <div class="label-container">
            <span class="billLabel">Number of People</span>
            <span *ngIf="warnPeople" class="warning-label">Can't be zero</span>
          </div>
          <div class="billInputContainer">
            <img src="../assets/icon-person.svg" class="dollar" />
            <input
              type="number"
              id="people"
              [ngStyle]="{ color: peopleStyle ? 'hsl(183, 100%, 15%)' : '' }"
              [(ngModel)]="people"
              class="billInput"
              [ngClass]="warnPeople ? 'warning' : ''"
              (ngModelChange)="onPeopleChange($event)"
              (click)="handlePeopleClick()"
              (blur)="handlePeopleBlur()"
            />
          </div>
        </div>
      </div>
      <div class="total-container">
        <div class="tip-amount-container">
          <div class="tip-amount-title">
            <span class="title">Tip Amount</span>
            <span class="person">/ person</span>
          </div>
          <div class="tip-amount-total">
            <span class="dollar-sign">$</span
            ><span class="tip-amount">{{ tip }}</span>
          </div>
        </div>
        <div class="tip-amount-container">
          <div class="tip-amount-title">
            <span class="title">Total</span>
            <span class="person">/ person</span>
          </div>
          <div class="tip-amount-total">
            <span class="dollar-sign">$</span
            ><span class="tip-amount">{{ total }}</span>
          </div>
        </div>
        <button
          [disabled]="!reset"
          [ngClass]="reset ? 'activated-reset' : ''"
          [ngStyle]="{ opacity: reset ? 1 : 0.3 }"
          (click)="onClickReset()"
          class="reset"
        >
          RESET
        </button>
      </div>
    </div>
  </div>
</div>
